/* stjärnan markerar allt och font-family ger en font */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica;
}

/* Gör våra knappar rörliga när fönstret rör sig */

.länkar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Ger knapparna sin design */

.länkar a {
  background-color: steelblue;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 7px 7px gray;
  margin-top: 4px;
  margin-right: 30px;
}

/* Gör att knappen reagerar när man håller musen över den */

.länkar a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.länkar a.grey {
  background-color: dimgrey;
}

/* Denna kod ger header sin design */

header {
  color: white;
  background-color: steelblue;
  padding: 40px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.text {
  margin: 4px;
}

/* säger hur bilden ska förhålla sig på sidan */

.bild {
  max-width: 100%;
  height: auto;
  padding-top: 40px;
}

/* Design och storlek på header */

.H1 {
  font-weight: bold;
  font-size: 20px;
}

/* Gör att footer är på botten */

.footer-container {
  margin-top: auto;
}

/* Gör footerns design */

footer {
  color: white;
  background-color: steelblue;
  padding: 40px;
  text-align: left;
}

/* Speciella regler för skärmar <600px */
@media (max-width: 600px) {
  header,
  footer {
    padding: 20px;
  }
  /* Gör att knapparna återigen flyttar på sig, samt avstånden mellan dem blir mindre, när skärmen <600px */
  nav {
    flex-wrap: wrap;
    gap: 10px;
  }
  /* Gör knapparna mindre samt 0-ställer margin för små skärmar*/
  .länkar a {
    margin: 0;
    padding: 12px 15px;
  }

  header,
  main,
  footer {
    font-size: 75%;
  }
  .bild {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
